body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #585858;
    display: flex;
    background-color: #f7f7f7;
}

input[type=number] {
    display: inline-block;
    font-family: "Segoe UI";
    font-size: 1em;
    color: #1079d4;
    text-align: center;
    border: none;
    border-bottom: 2px solid #808080;
    background-color: transparent;
    margin-right: 0.6em;
    width: 140px;
    transition: all 300ms ease;
}
input[type=number]:not(:disabled):focus {
    border-bottom-color: #1079d4;
    outline: none;
    transform: scale(1.04);
    transition: all 100ms ease;
}
input[type=number]:disabled {
    border-bottom-color: #ccc;
}

button {
    display: inline-block;
    font-family: "Segoe UI";
    color: #fff;
    background-color: #1592ff;
    border: none;
    border-radius: 2px;
    font-size: 1.2em;
    padding: 0.5em 1.5em;
    transition: all 300ms ease;
}
button:not(:disabled):hover, 
button:not(:disabled):focus {
    cursor: pointer;
    outline: none;
    transform: scale(1.04);
    transition: all 100ms ease;
}
button:not(:disabled):focus {
    box-shadow: 0 0 5px 0 rgb(21, 146, 255);
}
button:not(:disabled):active {
    background-color: #1079d4;
    transform: scale(1);
    transition: all 100ms ease;
}
button:disabled {
    background-color: #ccc;
}

.sec-start {
    margin: 1.5em;
    width: 100%;
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
}

.sec-start .description {
    font-size: 1.2em;
    margin-bottom: 0.8em;
}
.sec-start .fields {
    display: block;
    position: relative;
    text-align: center;
    padding: 3em 1.5em 1.5em;
}
#message_teamsPerMatch,message_numberOfTeams {
    margin-top: 0.7em;
    font-size: 0.8em;
    color: #ed1c24;
    position: absolute;
    background-color: #fff6e0;
    border: 2px solid #ffb900;
    border-radius: 5px;
    bottom: -55px;
    margin: 0;
    padding: 10px;

    transition: all 300ms ease;
}
#message::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 10px 7px;
    border-color: transparent transparent #ffb900 transparent;
    position: absolute;
    top: -12px;
}
.hidden {
    opacity: 0;
    position: absolute;
    left: -999999px;
    transition: all 300ms ease;
}




#gameInfo {
    margin-top: 1.5em;
    padding: 1.5em;
    border-top: 1px solid #f0f0f0;
    background-color: #fafafa;
    text-align: center;
}
#gameInfo #winner {
    color: #1079d4;
    font-weight: bold;
}
#gameInfo #gameMap {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
#gameInfo #gameMap > li {
    width: 1.2em;
    height: 1.2em;
    margin: 0.33em 0.33em 0.33em 0;
    border: 1px solid #585858;
    border-radius: 1px;
    transition: all 500ms ease;
}
#gameInfo #gameMap > li.playing {
    background-color: #1592ff;
    border-color: #1592ff;
    box-shadow: 0 0 10px 0 rgb(21, 146, 255);
}
#gameInfo #gameMap > li.done {
    background-color: #585858;
}
